# https://pip.pypa.io/en/stable/reference/pip_install/#requirements-file-format
pandas
cloudpickle
PyYAML
click
pytest
keyring
artifacts-keyring
azureml-designer-core==0.0.25.post7243179
azureml.core
azureml-designer-internal
azureml-designer-classic-modules

# WARNING: do NOT upgrade this version because azureml-core 1.0.48 requires it to be <=0.15.89,>=0.15.35
ruamel.yaml==0.15.89