# https://pip.pypa.io/en/stable/reference/pip_install/#requirements-file-format
pandas==0.24.1
cloudpickle==1.2.2
PyYAML==5.1.2
Click==7.0
pytest==5.2.0
keyring
artifacts-keyring

azureml-designer-core==0.0.25.post7964938

# WARNING: do NOT upgrade this version because azureml-core 1.0.48 requires it to be <=0.15.89,>=0.15.35
ruamel.yaml==0.15.89