# https://pip.pypa.io/en/stable/reference/pip_install/#requirements-file-format
pandas==0.24.1
cloudpickle==1.2.2
Pillow==6.1.0
azureml-designer-core==0.0.26.post8823615

# For test cases:
pytest==5.2.0
pylint==2.4.2
pyarrow==0.12.1
scikit-learn==0.20.3
scipy==1.2.1
torch==1.2.0
torchvision==0.4.0

# WARNING: do NOT upgrade this version because azureml-core 1.0.48 requires it to be <=0.15.89,>=0.15.35
ruamel.yaml==0.15.89